{{ define "title" }}{{ .Site.Title }}{{ end }}
{{ define "main" }}
<content>
  <div style="margin-bottom: 2rem; padding-bottom: 1rem; border-bottom: 1px solid var(--light);">
    <p style="margin-bottom: 0.5rem;">英美影视剧 播客爱好者</p>
    <p style="margin-bottom: 0.5rem;">大厂螺丝钉 互联网观察者</p>
    <p style="margin-bottom: 0.5rem;">永远半吊子 永远浅尝辄止</p>
    <p style="margin-bottom: 0.5rem;">瞎写一下，更新无常</p>
    <p>May The Freedom Be With U</p>
  </div>
  <h3 style="margin-bottom:0">Recent Posts</h3>
  <ul class="blog-posts">
    {{ range first 8 (where site.RegularPages "Section" "blog") }}
    <li>
      <span>
        <i>
          <time datetime='{{ .Date.Format "2006-01-02" }}'>
            {{ .Date.Format (default "02 Jan, 2006" site.Params.dateFormat) }}
          </time>
        </i>
      </span>
      <a href="{{ .Permalink }}">{{ .Title }}</a>
    </li>
    {{ end }}
  </ul>
</content>
{{ end }}
